body{
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5em;
    padding: 2em;
    border-style: solid;
    border-radius: 20px;
    background-color: #838383;
    width: 300px;
    gap: 30px;
}

.displayPane{
    display: flex;
    flex-direction: column;

    background-color: black;
    border-radius: 10px;

}

.secondaryDisplay{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 20px;
    padding-top: .5em ;
    padding-right: .75em;

    font-size: 24px;
    color: #adff2f;
}

.display{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 60px;
    padding: .25em .25em;

    font-size: 48px;
    font-weight: 800;
    color: #adff2f;
}

.userControls{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;

    gap: 5px;
}

#btnDel, #btnClr{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    width: 146px;
    height: 70px;
    box-shadow: 1px 1px black;
    color: white;
    font-weight: 800;
}

#btnDel{
    background-color: blue;
}

#btnClr{
    background-color: red;
}

.clearRow, .row4, .row3, .row2, .row1{
    display: flex;
    justify-content: space-between;
}

.calcButton{
    font-size: 20px;
    width: 70px;
    height: 70px;
    box-shadow: 1px 1px black;
    font-weight: 800;
}